{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Page</title>

    <link rel="stylesheet" href="{% static "register.css"%}">
</head>
<body>
    <div id="section1">
        <h1 class="projname">Faculty Management Web Application</h1>
        <div id="sec1Cont">
            <div class="sec1leftCont">
                <div class="heading">
                    <h1>Delete Data</h1>
                </div>
                <div class="inputOption">
                    <form action="../deletedata/" method="POST">

                        {% csrf_token %}

                        <div class="initem">
                            <input type="number" name='fid' placeholder="Enter Id in Number only..">
                        </div>
                        
                        
                        <div class="itemBtn">
                            <button type="submit">Submit</button>
                        </div>
                
                    </form>
                </div>
            </div>
           

            <!-- *********************************************************** -->

            <div class="sec1rightCont">
                <div class="heading">
                    <h1>Facilities</h1>
                </div>
                <div class="option">
                    <div class="item">
                        <a href="/">Home</a>
                    </div>
                    <div class="item">
                        <a href="../register/">Register Faculty Details</a>
                    </div>
                    <div class="item">
                        <a href="../display/">View Faculty Details</a>
                    </div>
                    <div class="item">
                        <a href="../update/">Update Faculty Details</a>
                    </div>
                </div>
            </div>


        

        </div>
           
    </div>
</body>
</html>