<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Management Application</title>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="section1">
        <div id="sec1Cont">
            <div class="heading">
                <h1>Faculty Managemet App</h1>
            </div>
            <div class="option">
                <div class="item">
                    <a href="../admin/">Admin Login</a>
                </div>
                <div class="item">
                    <a href="../register/">Register Faulty Details</a>
                </div>
                <div class="item">
                    <a href="../display/">View Faculty Details</a>
                </div>
                <div class="item">
                    <a href="../update/">Update Faculty Details</a>
                </div>
                <div class="item">
                    <a href="../delete/">Delete Faculty Details</a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>